@import '../../themes.scss';

@include nb-install-component {
    img {
        width: 20em;
        height: 20em;
        margin-left: auto;
        margin-right: auto;
        display: block;
        cursor: progress;
        transform-origin: 50% 50%;
        animation: rotation 2s linear infinite;
    }
    
    h1 {
        text-align: center;
        color: nb-theme('color-info-100');
        animation: info-glow 0.5s ease infinite;
    }

    @keyframes rotation {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
		}
    }

    @keyframes info-glow {
        0%, 100% {
            color: nb-theme('color-info-100');
        }
        50% {
            color: nb-theme('color-info-500');
        }
    }    
}

