@import '../../themes.scss';
::ng-deep .layout-container {
    padding-top: 0px !important;
}
@include nb-install-component {
        img {
        border-radius: 20em;
        width: 20em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        padding-bottom: 1em;
        display: block;
        cursor: pointer;
        transition: transform 0.25s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    
    h1 {
        text-align: center;
        color: nb-theme('color-info-100');
        font-weight: 500;
        b {
            font-weight: 900;
        }
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            display: inline-block;
            transition: color 0.5s ease;
            cursor: pointer;
            font-size: 1rem;
            text-align: center;
            color: nb-theme('color-info-100');
            &:hover {
                color: nb-theme('color-info-500');
            }
        }
    }

    .errors {
        p {
            text-align: center;
            animation: error-glow 0.5s ease infinite;
        }
    }

    @keyframes info-glow {
        0%, 100% {
            color: nb-theme('color-info-100');
        }
        50% {
            color: nb-theme('color-info-500');
        }
    }  

    @keyframes error-glow {
        0%, 100% {
            color: nb-theme('color-danger-300');
        }
        50% {
            color: nb-theme('color-danger-500');
        }
    }    
}

